<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Facebook – entre ou cadastre-se</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <div id="pagBusca">
            <div id="menuBusca">
                <select id="inDigimon" required="required">
                    <option value="">Escolha um level de Digimon para a Busca</option>
                    <option value="fresh">Fresh (BEBE I)</option>
                    <option value="intraining">In Training (BEBE II)</option>
                    <option value="training">Training (BEBE II)</option>
                    <option value="rookie">Rookie (CRIANÇA)</option>
                    <option value="champion">Champion (ADULTO)</option> 
                    <option value="ultimate">Ultimate (PERFEITO)</option>
                    <option value="mega">Mega (FINAL)</option>
                    <option value="armor">Armor (ARMOR)</option>
                </select>
                <button id="butBusca" type="submit">Buscar</button>
                <button id="butSair" type="submit">
                    <img id="imgSair" src="sair.webp">
                </button>
            </div>
            <div id="ansView"></div>
        </div>
        <script src="buScript.js" type="text/javascript"></script>
    </body>
</html>