<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <div id="bdCad">
        <div id="formCad">
            <input class="inCad" id="crEmail" type="text" placeholder="Digite teu email">
            <input class="inCad" id="crUser" type="text" placeholder="Digite um nome de usuário">
            <input class="inCad" id="crSenha" type="password" placeholder="Digite uma senha">
            <input class="inCad" id="confCrSenha" type="password" placeholder="Confirme a senha">
            <label id="cadErro"></label>
            <button id="butCad" type="button">Enviar</button>
        </div>
        </div>
        <script src="cadScript.js" type="text/javascript"></script>
    </body>
</html>